@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

* {
  margin: 0;
  font-family: "Poppins";
  user-select: none;
  overflow: hidden;
}

body {
  background: #ecf0f3;
}
